/* Reset de tous les paramètres par défaut générés par les moteurs de recherche */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Style de la balise body */
body {
    position: relative;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    /* Source : https://www.freepik.com/free-photos-vectors/premium-background */
    background-image: url(../image/background\ image.jpg);
    background-size: cover;
}

/* Style de la balise h1 */
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: gray;
    z-index: 999;
}

/* Style de la balise nav avec la classe navbar */
.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
}

/* Style des liens dans la balise nav */
.navbar a {
    color: gray;
}

/* Style du logo dans la balise nav avec la classe logo */
.navbar .logo {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

/* Style de l'image dans le logo */
.navbar .logo img {
    margin-top: 0;
    display: block;
    max-width: 30%;
    max-height: 30%;
}

/* Style de la liste à puces dans la balise nav avec la classe nav-links */
.navbar .nav-links ul {
    display: flex;
}

/* Style des éléments de la liste à puces dans la balise nav */
.navbar .nav-links ul li {
    margin: 0 25px;
}

/* Style de l'élément actif dans la liste à puces dans la balise nav */
.navbar .nav-links ul li.active a {
    color: #ed3c57;
    text-decoration: underline;
    font-weight: 600;
}

/* Style supplémentaire du logo dans la balise nav */
.navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 2em;
    font-weight: bold;
}

/* Style du menu hamburger dans la balise nav avec la classe menu-hamburger */
.navbar .menu-hamburger {
    display: none;
    position: fixed;
    top: 50px;
    right: 30px;
    width: 35px;
    z-index: 999;
}

/* Style de l'image */
.image {
    margin-left: 35%;
    margin-top: 200px;
    max-width: 500px;
    max-height: 500px;
}

/* Style du footer */
footer {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Style de la balise aside */
aside {
    position: absolute;
    background-color: #f2f2f2;
    top: 50%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

/* Media Query pour les écrans de petite taille */
@media screen and (max-width: 900px) {
    /* Style de la balise aside avec la classe mobile-menu */
    aside.mobile-menu {
        display: none;
    }

    /* Style de la balise h1 pour les écrans de petite taille */
    h1 {
        top: 30%;
        font-size: 28px;
        left: 60%;
    }

    /* Style de la balise h1 avec la classe mobile-menu */
    h1.mobile-menu {
        display: none;
    }

    /* Style du footer avec la classe mobile-menu */
    footer.mobile-menu {
        display: none;
    }

    /* Style supplémentaire de la balise nav pour les écrans de petite taille */
    .navbar {
        padding: 0;
    }

    /* Style supplémentaire du logo dans la balise nav pour les écrans de petite taille */
    .navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }

    /* Style du menu hamburger dans la balise nav pour les écrans de petite taille */
    .navbar .menu-hamburger {
        display: block;
    }

    /* Style des liens de la balise nav avec la classe nav-links pour les écrans de petite taille */
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    /* Style de la balise nav-links avec la classe mobile-menu */
    .nav-links.mobile-menu {
        margin-left: 0;
    }

    /* Style de la liste à puces dans la balise nav-links */
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Style des éléments de la liste à puces dans la balise nav avec la classe nav-links ul li */
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}
